@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}


body{
  max-width: 1440px;
  margin: 0 auto;
  /* background-color: rgba(128, 255, 0, 0.336); */

}

:root{
  --headingOne:48px;
  --headingTwo:32px;
  --headingThree:24px;
  --headingFour :20px;
  --p:16px;


}

/* ============common style============== */

.btn{
  border-radius: 5px;
  padding: 15px 20px;
  font-size:var(--headingFour);
}

a{
  color: black;

}

.center{
  text-align: center;
  margin: 0 auto;  
}


/* ============common style============== */

header{
  
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  

}


/* nav style  */

 nav{
  width: 1140px;
  height: 131px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;

 

 & h2{
    font-size: 32px;
  }

  & button{
    border: 1px solid black;
    color: rgb(13, 19, 33);
}
 }
  

  /* =============hero section==========  */

  .hero{
   
    height: 652px;
  
    
     background-image: url(../images/hero-bg.png); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 
  }


  .hero-container{
 
   padding-top: 1.5rem;
 
  }

    .hero-heading{
     
      color: rgb(13, 19, 33);
       font-family: Azeret Mono;
       font-size: 48px;
       font-weight: 800;
       line-height: 68px;
       letter-spacing: 0%;
       text-align: center;
    
    }

    .heading-two{
        font-size: var(--headingTwo);
    }
    .headeing-three{
      font-size: var(--headingThree);
      line-height: 1.5;
    }

    .para{
      margin: 30px 0;
      font-size: var(--p);
      line-height: 1.6;
      opacity: 0.7;
      
    }

       .hero button{
       
       padding: 20px 25px;
       background-color: rgb(7, 6, 6);
    
       border: none;

    }
    .hero button a{
     text-decoration: none;
     color: white;
    }
                /* =============hero section==========  */


    
    
                /*===== development section start here=====  */

   main{
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   }

    .development{
        padding: 80px 97px;  
        width: 1140px;
        margin:80px  auto;
        border-radius: 16px;
        background: rgba(13, 19, 33, 0.02);
    
     
    
      
    }
    .card-container{
       
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 32px;
        
    }
    .content{
      width: 946px;
      padding-bottom:0 ;
    
    }

   

    .dev-card{
      width: 946px;
      height: 336px;
      text-align: left;
      padding: 48px;
      
      display: flex;
      justify-content: space-between;
     
      background-color: white;
      border-radius: 10px;
    }

    .dev-card-left{
      width: 477px;
      height: 220px;
    
    }


    .dev-card-right{
      width: 259px;
    }


    .learn-btn{
      padding: 15px;
      font-size:20px;
      opacity: 0.8;
    }

    .learn-btn a {
      text-decoration: none;
    }

    /* <!-- =========development section end here========== --> */



      /*===== Inspiration section start here=====  */
.inspiration{
  margin: 2rem auto;
  width: 1140px;
   height: 777px;
 
}

.video-dev{
  width: 1140px;
  padding: 30px;

  border: 1px solid gray;
  border-radius: 10px;

  & iframe{
    border-radius: 10px;
  }
}
 /*===== Inspiration section end here=====  */


 /* <!-- =========current target section start here========== --> */

.current-target{
 width: 1140px;
 margin: 6rem;



}


.target-cards{
  display: flex;
  justify-content: space-between;
 

}
.target-card{

width: 355px;
height: 300px;
padding: 30px;
border-radius: 10px;
background-color: rgba(214, 204, 137, 0.596);



}

.target-card img{
  margin-bottom: 20px;
}

.one{
  background-color:rgba(236, 164, 164, 0.479) ;
}

.two{
  background-color:rgba(145, 189, 214, 0.479) ;
}
/* <!-- =========current target section end  here========== --> */




/* <!-- =========next target section start  here========== --> */

.next-card{
  width: 1140px;
  height: 220px;
display: flex;
justify-content: left;
align-items: center;
border-radius: 10px;
border: 1px solid gray;
margin-bottom:25px ;
padding: 30px;
gap: 1rem;
}

.next-card img{
  width: 94.78px;
  height: 84.41px;
}

/* <!-- =========next target section end  here========== --> */







/* <!-- =========support section start here========== --> */

.support-section{
  width: 1140px;
height: 314px;
display: flex;
justify-content: center;
align-items: center;
background-image:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.65)), url(../images/handshake.jpg);
box-shadow: 0, 0, 22, 0.9;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
border-radius: 16px;
margin: 2rem 0;;
}

.support-content{
  color: white;
}

.support-content input{
  width: 548px;
height: 57px;
border-radius: 15px;
border: none;
outline: none;
}

.suppot-btn{
  height: 57px;
  border: none;

}

::placeholder{
  padding-left: 30px;
  font-weight: 500;
}

/* <!-- =========support section end  here========== --> */



/* <!-- =========footer section end  here========== --> */
footer{
  width: 1440px;
  height: 70px;
  background-color: aliceblue;


}

.footer-container{
  width: 1140px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
/* <!-- =========footer section end  here========== --> */
